.question,
.title,
.date {
  position: absolute;
  margin: 0;
  color: #000;
  white-space: nowrap;
}

.question {
  left: 4.313cqw;
  top: 2.553cqw;
  font-size: 1.408cqw;
  line-height: 2.113cqw;
  letter-spacing: -0.028cqw;
}

.title {
  left: 4.313cqw;
  top: 5.634cqw;
  font-size: 3.169cqw;
  font-weight: 700;
  line-height: 1.18;
}

.blue {
  color: #0183ff;
}

.orange {
  color: #ff5521;
}

.date {
  left: 32.306cqw;
  top: 10.915cqw;
  font-size: 1.144cqw;
  line-height: 2.113cqw;
  letter-spacing: -0.023cqw;
}

.callToAction {
  position: absolute;
  left: 0;
  right: 0;
  top: 15.405cqw;
  height: 5.458cqw;
  background: linear-gradient(90deg, #0183ff, #a6d3ff);
  color: #fff;
  font-weight: 700;
}

.callToAction span {
  position: absolute;
  left: 4.313cqw;
  top: 1.673cqw;
  font-size: 1.408cqw;
  line-height: 2.113cqw;
  letter-spacing: -0.028cqw;
  white-space: nowrap;
}

.appPreview,
.burger {
  position: absolute;
}

.appPreview {
  left: 74.472cqw;
  top: 2.553cqw;
  width: 22.887cqw;
  height: 15.581cqw;
  box-shadow: 0 10px 10px rgb(0 0 0 / 25%);
}

.burger {
  left: 60.739cqw;
  top: 4.842cqw;
  width: 19.718cqw;
  height: 15.757cqw;
}

.appPreviewImage {
  object-fit: cover;
  object-position: left center;
}

.burgerImage {
  object-fit: contain;
}

:global(.is-mobile-device) .question {
  left: 3.683cqw;
  top: 0.85cqw;
  font-size: 2.266cqw;
  line-height: 2.833cqw;
  letter-spacing: -0.045cqw;
}

:global(.is-mobile-device) .title {
  left: 3.683cqw;
  top: 7.082cqw;
  font-size: 4.533cqw;
}

:global(.is-mobile-device) .date {
  left: 3.683cqw;
  top: 16.714cqw;
  font-size: 1.983cqw;
  line-height: 2.55cqw;
  letter-spacing: -0.04cqw;
}

:global(.is-mobile-device) .callToAction {
  top: 23.513cqw;
  height: 8.499cqw;
}

:global(.is-mobile-device) .callToAction span {
  left: 3.683cqw;
  top: 0.85cqw;
  font-size: 2.55cqw;
  line-height: 6.799cqw;
  letter-spacing: -0.051cqw;
}

:global(.is-mobile-device) .appPreview {
  left: 70.822cqw;
  top: 6.232cqw;
  width: 29.178cqw;
  height: 19.83cqw;
}

:global(.is-mobile-device) .burger {
  left: 53.258cqw;
  top: 9.065cqw;
  width: 25.212cqw;
  height: 20.113cqw;
}
